@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  border: 1px purple solid;
  color: white;
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
html {
  background-color: #585858;
}

header nav {
  position: absolute;
  z-index: 2;
  left: 75%;
  top: 1.5%;
}
header nav ul {
  text-align: center;
  display: flex;
}
header nav ul li {
  justify-content: space-around;
  font-size: 1.5vw;
  list-style-type: none;
  padding: 0 5px;
  text-transform: uppercase;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
}
li a {
  text-decoration: none;
}

.container {
  z-index: 3;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  bottom: 20px;
  justify-content: center;
}

.card {
  font-size: 13px;
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  justify-content: center;
  align-items: stretch;
  background: white;
  display: flex;
  margin: 50px 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
  overflow: hidden;

}
.card:hover{
  box-shadow: 0 8px 20px 0 rgba(0,0,0,1);
  pointer
}
.card_style{
  width: 300px;
  background: transparent;
}

.card img {
  width: 100%;
  height: 40%;
}

.card h1 a,
p,
p a {
  color: black;
  height: 50%;
}

.card h1 {
  height: 10%;
  text-transform: uppercase;
  font-size: 20px;
}

#heading_text {
  position: absolute;
  z-index: 2;
  background: transparent;
  width: 50%;
  left: 20%;
  color: white;
  font-size: 8vw;
  top: 10%;
  border: 2px solid white;
  padding: 5%;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
}

#banner {
  -webkit-user-drag: none;
  position: relative;
  width: 100%;
  height: 400px;
  margin: 0;
  padding: 0;
  filter: blur(2px);
  -webkit-filter: blur(2px);
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}